.navbar-collapse.collapse {
  transition: height 0.35s ease;
}

.navbar-collapse.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.navbar-collapse {
  justify-content: center;
}