body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  height: 90vh;
}

.container {
  background: #f8f9fa;
  padding: 25px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  width: 100vh;
  max-width: 100%;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  min-height: 150px;
  resize: vertical;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2vh;
}

.boton {
  background: rgba(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.boton:hover {
  background: rgba(231, 231, 231);
}

input:focus,
textarea:focus {
  border-color: #86b7fe;
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}