/*Transiciones de la Barra de Navegacion*/
.navbar-collapse.collapse {
    transition: height 0.35s ease;
}

.navbar-collapse.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}

.container {
    padding: 2vh 0 2vh 0;
    margin: 1vh;
}

.card {
    padding: 1vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.boton {
    background: rgba(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.boton:hover {
    background: rgba(231, 231, 231);
}

.card img {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(51, 51, 51, 0.2);
}